*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
header{
    border: solid 1px rgb(21, 94,239);
    border-radius: 12px;
    margin: 1% 1% 2% 1%;
    padding: 0 1rem;
}
.logo p{
    font-size: 1.5rem;
    color: rgb(21, 94,239);
    font-family: 'Manrope', sans-serif;
    font-weight: 700
}
header,.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: rgb(21, 94,239);
    font-family: 'Halant', serif;
    font-weight: 500;
    font-size: 1.2rem;
}
nav ul li:first-child{
    margin-right: 5rem;
}
nav ul li:last-child{
    margin-left: 5rem;
    border: solid 1px rgb(21, 94,239);
    border-radius: 5px;
    padding: 5px;
    color: rgb(21, 94,239);
}
main,section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 1%;
    border: solid 1px rgb(21, 94,239);
    border-radius: 5px;
    margin: 0 1% 3% 1%;
}
.welcome{
    margin: 10% .5%;
    width: 100%;
}
.welcome h1{
    color:  rgb(21, 94,239);
    margin-top: .5%;
    margin-bottom: 3%;
}
.welcome #long{
    padding-bottom: 4%;
    max-width: 90%;  
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .5px; 
}
.welcome p{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .5px;
}
.welcome h1{
    color: rgb( 21, 94,239);
    font-family: 'Halant', serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 67.2px;
}
main button{
    background-color: rgb( 21, 94,239);
    border-radius: 5px;
    padding: 1.5% 2%;
    color: white;
    border: solid 1px rgb( 21, 94,239);
    text-decoration: none;
    cursor: pointer;
}
.image{
    width: 100%;
}
.image img{
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
}
.baby{
    width: 100%;
    margin-top: 3%;
    border: solid 1px rgb(21, 94,239);
    padding: 2%;
    border-right: none;
}
.about{
    margin: 3% 0 8% 5% ;
}
.about h2{
    font-family: 'Halant', serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    padding-top: 24px;
}
.about p{
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    line-height: 36px;
    letter-spacing: .5px;
    color: rgb(46,58,83);
    margin-top: 5%;
    width: 100%;
}
#positions{
    color: black;
    padding-top: 10%;
    align-items: center;
}
.project{
    border: solid 2px white;
    background-color: rgba(249, 245, 255,1);
    width: 80%;
    position: relative;
    left: 5rem;
    bottom: 6.5rem;
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    line-height: 36px;
    letter-spacing: .5px;
    color: rgb(46,58,83);
    padding: 3%;
}
.project h3{
    font-family: 'Halant', serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    padding-top: 24px;
    margin: 2% 0 3% 0%;
}
.project p{
    margin-top: 2.5%;
}
.project ul{
    margin: 2% 0 2% 10%;
    width: 100%;
}
.kid{
    margin-top: 10%;
}
footer{
    border: solid 1px rgb(21, 94,239);
    border-radius: 12px;
    margin: 1% 1% 2% 1%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(21, 94,239);
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}
.icons{
    display: flex;
    gap: 25%;
    height: 10px;
    cursor: pointer;
}
.footer-text{
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    padding: 1% 0;
    letter-spacing: .5px;
}
.hamburger{
    display: none;
}
@media screen and (max-width:768px){
    nav{
        display: none;
    }
    .line{
        width: 1.5rem;
        margin-bottom: 5px;
        height: 5px;
        background-color: black;
        cursor: pointer;

    }
    .hamburger{
        display: block;
    }
    main{
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        text-align: center;
        padding: 2%;
    }
    .welcome{
        width: 100%;
    }
    .welcome #long{
        text-align: center;
        font-size: 16px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.5px;
    }
    .welcome button{
        width: 80%;
    }
    .about p{
        font-size: 16px;
        line-height: 150%;
        letter-spacing: .5px;
        font-family: 'Manrope', sans-serif;
    }
    .image img{
        width: 70%;
        margin: 0 auto;
    }
    section{
        flex-direction: column-reverse;
        row-gap: 5px;
    }
    #long p{
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.5px;
    }
    .baby img{
        margin: 0 auto;
        width: 100%;
    }
    #positions{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    .project{
        position: static;
        width: 100%;
        padding: 2rem;
        margin: 0;
        text-align: center;
        font-size: 16px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.5px;
    }
    .project p{
        width: 100%;
    }
    .kid img{
        width: 100%;
    }
    footer{
        flex-wrap: wrap;
    }
    .foot{
        margin-left: -1.5%;
    }
    .foot p{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .foot img{
        height: 30%;
        width: 20%;
    }
    .icons{
        width: 20%;
        gap: 5%;
    }
    .footer-text{
        text-align: center;
        font-size: 15px;
        line-height: 150%;
        font-weight: 500;
        font-family: 'Manrope', sans-serif;
        /* justify-content: center; */
        margin: 0 auto;
    }
}



